main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #B9C0DA;
  --secondary: #C4DACF;
  --tertiary: #C4E7D4;
  --light: white;
  --dark: black;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: var(--light);
  color: var(--dark);
  font-family: 'Bona Nova', serif;
}

h1,
h2,
h3 {
  font-family: 'Otomanopee One', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2.00rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
  margin-top: 0;
}

header {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  background: var(--primary);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
  padding: 0 10px 0 10px
}

li a {
  text-decoration: none;
  color: var(--dark);
}

h2 a {
  text-decoration: none;
  padding: 0 45px 0 15px;
  color: var(--dark);
}

img {
  max-width: 100%;
}

.project-img {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
}
